@custom-media --w-m (min-width: 500px);
@custom-media --w-l (min-width: 700px);
@custom-media --h-m (min-height: 450px);

:root {
  --color-blue: #1345ae;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-blue);
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (--w-l) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }
}
/*
@media (--w-l) and (--h-m) {
  .main {
    display: block;
  }
} */

.widget {
  position: relative;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*
.img-small{
  display: none;
} */

.caption {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
}

.img {
  display: none;
}

/* .img, */
.img-small {
  display: block;
  width: 75px;
  max-width: 100%;
  max-height: 100%;
}

@media (--h-m), (--w-l) {
  .img {
    display: block;
    width: 265px;
  }
  .img-small {
    display: none;
  }
}

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  color: white;
  margin: 20px 0;
  max-width: 500px;
}

@media (--w-m) {
  .header {
    line-height: normal;
    font-size: 24px;
  }
}

@media (--w-m) and (--h-m) {
  .header {
    line-height: normal;
    font-size: 36px;
  }
}

.enter {
  appearance: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  color: #363636;
  border-radius: 3px;
  width: 135px;
  height: 30px;
  background: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.enter:hover {
  color: var(--color-blue);
}

.social {
  margin-top: 20px;
}

.social__button {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  appearance: none;
  border: none;
  background: transparent;
  opacity: 0.4;
  cursor: pointer;
  outline: none;
}

.social__button:hover {
  opacity: 1;
}

.social__button img {
  width: 100%;
}
