.popup {
  max-width: 270px;
  width: 100%;

  & p {
    margin: 0.5em 0;
  }
}

.description {
  color: #333333;
}

.title {
  font: bold 18px/1.22 'Montserrat';
}

.subtitle {
  font: bold 14px/1.21 'Montserrat';
}

.table {
  list-style: none;
  font-style: italic;
  font-size: 13px;
  line-height: 1.23;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.label {
  width: 100px;
  flex-shrink: 0;
  padding-left: 18.42px;
}

.snowflake {
  position: absolute;
  top: 7px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(./../../public/assets/snowflake.svg) no-repeat center;
  background-size: contain;
  flex-shrink: 0;
}

.cleaner {
  position: absolute;
  top: 7px;
  left: 115.42px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(./../../public/assets/cleaner.svg) no-repeat center;
  background-size: contain;
  flex-shrink: 0;
}

.value {
  width: 115px;
  flex-shrink: 0;
  padding-left: 18.42px;
}
