@import '../style/vars';

.legend {
  position: relative;
  width: 100%;
  z-index: 500;
}

.title {
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-bottom: 12px;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.rect {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.list {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-bottom: 10px;
}

.table {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tspan {
  font-size: 14px;
  color: #858585;
  margin-right: 25px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin-bottom: 15px;
}

.header {
  font-size: 10px;
  line-height: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.desc {
  font-size: 10px;
  line-height: 13px;
  opacity: 0.5;
}

/*@media (--s) {
  .legend {
    display: block;
    position: relative;
    transform: none;
    width: 100%;
    background: #1345ae;
  }

  .title {
    margin-bottom: 0.3em;
    font-size: 14px;
  }

  .list {
    display: flex;
    align-items: center;
  }

  .item {
    margin: 0 1.5em 0 0;
    font-size: 14px;
  }
}
*/

@media (max-width: 400px) {
  .title {
    margin-bottom: 0.3em;
    font-size: 14px;
  }
}
