@import '../style/vars';

.intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1050;
  padding: 15px;
}

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 20px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font: bold 16px/20px 'Montserrat';
  color: #000;
  margin-bottom: 18px;
}

.description {
  color: rgba(0, 0, 0, 0.7);
  line-height: 25px;
}

.button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  user-select: none;
  background: url(./../../public/assets/cross2.svg) no-repeat center;
  transition: opacity 0.3s;
}

@media (hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}
/*
@media (--l) {
  .wrap {
    margin-left: 140px;
    margin-right: 0;
  }
} */

/*
@media (--m) and (--sh) {
  .wrap {
    padding: 4vh 6vh 8vh;
  }

  .title {
    font-size: 6.4vh;
    margin-bottom: 4vh;
  }

  .description {
    margin-bottom: 7vh;
  }
}

@media (--m) and (--xsh) {
  .wrap {
    padding: 15px 15px 30px;
  }

  .title {
    font-size: 22px;
    margin-bottom: 13px;
  }

  .description {
    margin-bottom: 24px;
  }
}

@media (--s) {
  .wrap {
    padding: 15px 15px 30px;
  }

  .title {
    font-size: 22px;

    & br {
      display: none;
    }
  }

  .description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
*/
