@import '../../style/vars';

.switcher {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 20px;
}

.slider {
  display: none;
}

.list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.label {
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-bottom: 15px;

  & span {
    display: none;
    font-weight: normal;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  background: #fff;
  /*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);*/
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  font: bold 18px/1.21 'Montserrat';
  cursor: pointer;
  user-select: none;
  color: #dadada;
  margin-right: 10px;
  /* transition: background-color 0.3s; */
}
.btn:last-child {
  margin-right: 0px;
}

.btn-selected {
  background: #0761fe;
  color: white;
  border: 0px solid #e1e1e1;
}

@media (hover: hover) {
  .btn:hover {
    background: #0075ff;
    color: white;
    border: 0px solid #e1e1e1;
  }
}

@media (max-width: 400px) {
  .list {
    justify-content: space-between;
  }

  .btn {
    margin-right: 0px;
  }
  .btn:last-child {
    margin-right: 0px;
  }
}
