@import '../style/vars';

.header {
  position: relative;
  z-index: 1401;
  margin-bottom: 15px;
}

.headerp {
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 24px;
  margin-bottom: 20px;
}
