@import '../style/vars';

.app {
  position: relative;
  max-width: 100%;
  width: var(--page-max-width);
  overflow-x: hidden;
  height: 100%;
  margin: 0 auto;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', 'NotoSans', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
  font-weight: normal;
  padding: 20px;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  /*background: #1345ae;*/
}

.content {
  width: 100%;
  height: 100%;
}

.blured {
  /*filter: blur(12px);*/
}

#start {
  border-radius: 5px;
  background-color: white;
  border: solid 1px #ccc;
}

.map {
  position: relative;
  width: 100%;
  height: 348px;
  margin-bottom: 20px;
}

.figure {
  width: 100%;
  height: 100%;
  background: #638adc !important;
}

.btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding-top: 4px;
  color: black;
  background-color: white;
  border-radius: 2px;

  z-index: 800;
  cursor: pointer;
  border: 0px solid white;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(./../../public/assets/help.svg);
}

.btn:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

@media (hover: hover) {
  .btn:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.75);
  }
}

/*@media (--s) {
  .map {
    height: auto;
  }

  .figure {
    height: 345px;
    max-height: calc(100vh - 218px);
  }
}

@media (--s) and (--iph) and (orientation: portrait) {
  .figure {
    max-height: calc(100vh - 218px - 22px);
  }
}*/
