@import '../style/vars';

.authors {
  background: #1345ae;
  padding: 70px 40px 110px;
}

.grid {
  color: white;
}

.title {
  margin-bottom: 30px;
  font-size: 18px;
}

.stitle {
  margin-top: 50px;
}

.row {
  display: flex;
  line-height: 1.5em;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  width: 140px;
  padding-right: 1em;
  flex-shrink: 0;
}

.socials {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.social {
  display: block;
  width: 18px;
  height: 16px;
  background: no-repeat left bottom;
  background-size: contain;
  margin-right: 1.5em;
  flex-shrink: 0;
  transition: opacity 0.3s;
}

@media (hover: hover) {
  .social:hover {
    opacity: 0.7;
  }
}

@media (--xl) {
  .authors {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (--s) {
  .authors {
    padding: 0 10px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .grid {
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .row {
    font-size: 12px;
  }

  .social {
    width: 38px;
    height: 34px;
    margin-right: 47px;

    &:last-child {
      margin-right: 0;
    }
  }
}
