@custom-media --s (max-width: 700px);
@custom-media --m (min-width: 700px);
@custom-media --l (min-width: 860px);
@custom-media --xl (min-width: 950px);
@custom-media --xsh (max-height: 344px);
@custom-media --sh (max-height: 500px);
@custom-media --iph (max-height: 700px);
@custom-media --lh (min-height: 1080px);

:root {
  --page-max-width: 600px;
  --color-bg: #fff;
  --color-text: #2b2b2b;
}
